<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
<div>
    <h1>Registration</h1>
    <form action="/auth/registration" method="post">
        <input name="username" type="text" placeholder="Username">
        <br>
        <input name="email" type="text" placeholder="Email">
        <br>
        <input name="password" type="password" placeholder="Password">
        <br>
        <input type="submit">
    </form>
    <br>
    <a href="/auth/login">Login</a>
</div>
</body>
</html>